/* dossier.css */

:root{
  --bleed:1;
}

@media print {

@page {
  /* size: 120mm 160mm;
  margin: 16mm 20mm; */
  size: 150mm 190mm;
  margin: 31mm 35mm;

  font-size: 9pt;
  bleed:1mm;
  font-family: 'Latin Modern Mono';
}


h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-size: inherit;
  font-weight: normal;
  /* text-decoration: underline; */
  text-decoration-thickness: 1pt;
  border-bottom : 2pt solid black;
  /* background: lightskyblue; */
  text-align: center;
  padding-bottom: 1mm;
}

q {
  font-style: italic;
}

q::before, q::after {
  content:'';
}

p, q {
  display: block;
  text-align: justify;
}


img.bottom{
  position: absolute;
  bottom: calc(calc(var(--pagedjs-margin-bottom) + var(--pagedjs-bleed-bottom)) * -1)
}
img{
  max-width:80%;
  margin: auto;
  display: block;
}
.conference img {
  position: absolute;
  left:10%;
  bottom: 0;

}
.page {
  break-before: page;

}

.couv>* {
  text-align: center;
  margin : 10mm;

}
.couv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.cartes {

  display: flex;
  justify-content: space-between;
  margin-bottom:10mm;
}
.cartes p {
  text-align: center;
}

.version {
  display:inline-block;
  width:100%;
  text-align: center;
  font-size: 5pt;
  text-transform:uppercase;
}

