/* style.css */

:root{
  --bleed:1;
}

@media print {

@page {
  font-family: "Liberation Serif", monospace;

  size: 210mm 297mm;
  margin-top: 20mm;
  margin-bottom: 10mm;
  bleed:3mm;

  font-size: 13pt;
}
}

.error {
  background-color: lightpink;
}

img {
  font-family: monospace;
  font-size: small;
  display: block;
  width : 90%;
  margin: 2em auto;
}

img:hover:after {
  overflow: hidden;
  display: block;
  position: absolute;
  background: white;
  top:0;
  padding: 1em;
  border: .2em solid black;
  text-decoration:underline;
 content:attr(src);
 padding:1em
}


.error:after {
 float:left;
 background:blue;
 color:white;
 font-weight:bold;
 padding:.2em;
 margin:.1em
}
.error:after {
 content:' ERROR :'
}


p {
  margin:0;
  margin-bottom:.5em;
    text-align:justify;
 }
 
 hr {
   border:none;
   height: .4em;
   color:black;
   margin:1em;
 }
 hr:after{
   display: block;
   text-align: center;
  /* content:'⁂'; */
   content:'***';

 }
