<p class="box" style="text-align:center;">{{tagline}}</p>
<img style="max-width:500px;" src="http://cienokill.fr/wp-content/uploads/2017/09/affiche-conf.jpg" alt="Affiche Conferences de poche" />

<div class="box">
{{{contenu.presentation-je}}}
</div>

<h1>Liste des conférences</h1>

{{#conferences}}
<div class="box">
    <h3>{{titre}}</h3>
    <q>{{tagline}}</q>
    <small>Créée à {{ville}} en {{date}}{{#contexte}} {{contexte}}{{/contexte}}.</small>
</div>
{{/conferences}}

<a href="http://cienokill.fr/wp-content/uploads/2016/03/naissancemort.jpg" rel="attachment wp-att-823"><img src="http://cienokill.fr/wp-content/uploads/2016/03/naissancemort-1024x909.jpg" alt="naissancemort" width="700" height="621" class="aligncenter size-large wp-image-823" /></a>

<ul>
    <li><a href="https://youtu.be/R7U0DHtmb18">Le teaser</a></li>
    <li><a href="http://cienokill.fr/dates/">Les dates</a></li>
    <li><a href="http://cienokill.fr/espacepro/#conferences-de-poche">Les conférences sur l'espace pro</a></li>
</ul>