<!DOCTYPE html>
<html>
  <head>
    <title>Fiche technique</title>
    <meta charset="utf-8">
    <script src="js/paged.polyfill.js"></script>
    <script src="js/csstree.min.js"></script>
    <script src="js/full-page.js"></script>
    <link rel="stylesheet" href="css/normalize.css" type="text/css">
    <link rel="stylesheet" href="css/interface.css" type="text/css">
    <link rel="stylesheet" href="css/fonts.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/fiche-tech.css" type="text/css">
  </head>
  <body>
    {{{html}}}
    <small id="version">(Dernière mise à jour : {{date}})</small>
  </body>
</html>
