<!DOCTYPE html>
<html>
  <head>
    <title>{{titre}}</title>
    <meta charset="utf-8">
    <script src="js/paged.polyfill.js"></script>
    <script src="js/csstree.min.js"></script>
    <script src="js/full-page.js"></script>
  </head>
  <body>
    <h1>{{titre}}</h1>
    <p>Le site</p>
    <nav>
    <ul>
        <li><a href="livre/">livre/</a></li>
        <li><a href="page/cienokill-page">page/cienokill-page</a></li>
    </ul>
    </nav>
  </body>
</html>
