<div class="conference" id="{{id}}">
<h2>{{conf.titre}}</h2>
<div class="infos">La conférence <em>{{conf.titre}}</em> a été écrite à
{{conf.ville}} en {{conf.date}}, {{conf.contexte}}.</div>
{{{html}}}
</div>
