<div class="page conference">
  <h2>{{{conf.titre}}}</h2>
  <p><q>{{conf.tagline}}</q></p>
  <p>Créée à {{conf.ville}} en {{conf.date}}{{#conf.contexte}} {{conf.contexte}}{{/conf.contexte}}. (Statut: {{conf.statut}})</p>
  <img src="img/conferences-cover/{{id}}.png"/>        
</div>
