<h1>Endroit secret du site</h1>

<p>Bonjour,</p>

<p>tu as trouvé la porte dérobée qui mène à cet espace d'administration top secret dont l'accès est reservé.</p>

<p>Heureusement pour moi, ce n'est pas grave du tout. Il n'y a rien de sensible sur cette page, c'est juste pas du tout fait pour toi (c'est juste vraiment seulement fait que pour moi (Léon)).</p>

<p>Je te conseille de retourner tout de suite sur la page principale du site en cliquant ici → <a href="/">page principale du site</a></p>





<h3>DOCUMENTS:</h3>
<h2>Documents</h2>
<table>
<tr>
  <th>document</th>
  <th>version</th>
  <th>HTML</th>
  <th>live</th>
  <th>export HTML</th>
  <th>PDF</th>

  <th>export PDF</th>
</tr>
{{#documents}}
<tr>
  <th>{{document}}</th>
  <td><form action="/dist/{{document}}" method="POST" target="response"><button>dist</button></form></td>
  <td>V{{version}}</td>
  <td><a href="{{dist.html}}">{{dist.html}}</a></td>
  <td><a href="/live_{{document}}">live html</a></td>
  <td><form action="/export_html/{{document}}" method="POST" target="response"><button>export html</button></form></td>
  <td>{{#dist.pdf}}<a class="pdf" href="{{dist.pdf}}">{{dist.pdf}}</a>{{/dist.pdf}}</td>
  <td>{{#dist.pdf}}<form action="/export_pdf/{{document}}" method="POST" target="response"><button>export pdf</button></form>{{/dist.pdf}}</td>
</tr>
{{/documents}}
</table>
<form action="/dist" method="POST" target="response"><button>dist all</button></form>
<button onclick="document.querySelectorAll('.pdf').forEach(e=>{e.href=e.innerHTML=e.innerHTML.slice(0,-4)+'-print.pdf'})">+ print</button>
<button onclick="document.querySelectorAll('.pdf').forEach(e=>{e.href=e.innerHTML=e.innerHTML.slice(0,-10)+'.pdf'})">- print</button>
<h3>REPONSE:</h3>
<iframe name="response"></iframe>

<h2>Conferences</h2>

<table>
<tr>
  <th>Titre</th>
  <th>durée</th>
  <th>feuilles</th>
  <th>texte</th>

</tr>
{{#conferences}}
<tr>
  <th>{{titre}}<br/><small>({{id}})</small></th>
  <td>{{duree}} min</td>
  <td>{{feuilles}}</td>
  <td><a href="contenu/{{id}}">texte</a></td>
</tr>
{{/conferences}}
</table>
