<!DOCTYPE html>
<html>
  <head>
    <title>{{titre}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/fonts.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  <body>
    {{{html}}}
  </body>
</html>
