<!DOCTYPE html>
<html>
  <head>
    <title>{{titre}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/fonts.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
          <link rel="stylesheet" href="css/site.css" type="text/css">
  </head>
  <body>
    <img alt="Personnage qui pose à côté d'un paperboard" src="img/illu-web/conference.png">
    <h1>Les Conférences de poche</h1>
    <div class=plus>
    {{{html}}}
    </div>
      <footer> <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="http://conferences.cienokill.fr/">Les conférences de poche</a> est une œuvre de <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="http://www.leonlenclos.net/">Léon Lenclos</a> placée sous <a href="https://creativecommons.org/publicdomain/zero/1.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" >CC0 1.0<img style="height:1.2em!important;margin-left:.3em;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:1.2em!important;margin-left:.3em;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/zero.svg?ref=chooser-v1" alt=""></a></p>
</footer>


    <script>document.querySelectorAll('.plus').forEach(div=>{
let savoirplus = document.createElement('button');
savoirplus.classList.add('savoirplus');
savoirplus.innerText="En savoir plus";
savoirplus.addEventListener('click', ()=>{
  div.style.display="block";
  savoirplus.style.display="none";
});
let savoirmoins = document.createElement('button');
savoirmoins.classList.add('savoirmoins');
savoirmoins.innerText="En savoir moins";
savoirmoins.addEventListener('click', ()=>{
  div.style.display="none";
  savoirplus.style.display="block";
});
div.parentNode.insertBefore(savoirplus, div);
div.appendChild(savoirmoins);
div.style.display="none";
})</script>
  </body>
</html>
